.authContainer {
    background-color: #ffdee8;
    color: black;
}

.authCard {
    width: 30%;
    max-width: 400px;
    border-radius: 12px;
    background-color: #27445D;
    color: white;
    height: 350px;
    width: 300px;
    padding: 20px;
}

.headline {
    font-size: larger;
    height: 30px;
    margin-bottom: 20px;
}

.wrap {
    margin-top: 5px;
    margin-bottom: 30px;
    display: flex;
    flex-direction: column;
}